<div id="beedit-feature-run-status" class="ajax-progress ajax-progress-throbber">
    <div class="throbber">
        <span>Retrieving results....</span>
    </div>
</div>
<div id="beedit-feature-run-output" data-pid="{{ pid }}" data-file_id="{{ file_id }}">
    <pre>
    </pre>
</div>